.divider-container{
    display: flex;
    align-items: center;
    width: 80%;
}

.divider-border{
    border-bottom: 1px solid black;
    width: 100%;
}

.divider-content {
    padding: 0 10px 0 10px;
}